<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- to add more values here, simply follow the following protocol -->
        <!-- key     =   "Option" + option number (MUST BE UNIQUE) presented with user NOTE: DO NOT SKIP any numbers!-->
        <!-- value   =   option to select|title of value|sql view|active (0/1) -->
            
        <add key="Option1" value="1|Outline of User's Account Balance|vw_userTransactionsTotalByMonthAll|1" />
        <add key="Option2" value="2|Account Balance Across All Months For Users in a Group|vw_groupBalanceByMonth|1" />
        <add key="Option3" value="3|Transaction Types per Month|vw_transactionCountByMonth|1" /> 
        <add key="Option4" value="4|Active Users|vw_userActive|1" />
        <add key="Option5" value="5|Inactive Users|vw_userInactive|1" />
    </appSettings>
    
    <!-- connection string here -->
    <connectionStrings>
        
        <add name="EagleDreamConnection" connectionString="Data Source=/Users/kevinmay/Projects/eagleDreamConsoleApp/eagleDreamConsoleApp/bin/bank_km.db;Version=3;New=True;Compress=True;" />   
        <!--
        <add name="EagleDreamConnection" connectionString="Data Source=GIT_URL_HERE;Version=3;New=True;Compress=True" />
        -->
    </connectionStrings>
</configuration>